@import url(https://fonts.googleapis.com/css?family=Roboto:300,400,500,700);
* {
  box-sizing: border-box;
  margin: 0; padding: 0;
}


@media screen and (min-width: 650px) {
  .metro {
    width: 200px;
    height: 70px;
  }
}



html{
	font-family: Roboto,sans-serif;
}

body{
  text-align: center;
	width: 100%;
	background-color: black;
	color: white;
}


.main_info{
	font-size: 34px;
	text-align: center;
	margin-top: 10vh;
}
.timer {
  font-size: 60px;
  text-align: center;
  margin-top: 5vh;
}


.metros{
	display: flex;
	margin: 0 auto;
	margin-top: 10vh;
	width: 600px;
}



.metros_up{
	margin: 0 auto;
}


.metros_down{
	margin: 0 auto;
}
.metro{
	font-family: Roboto,sans-serif;
	background-color: black;
	color: rgba(246, 246, 246, 0.8);
	font-size: 18px;
	border-style: solid;
	border-color: gray;
	border-radius: 10px;
	border-width: 1px;
	width: 260px;
	height: 80px;
	margin: 0 auto;
	margin-top: 2vh;
	cursor: pointer;
	transition: color 0.3s ease;
	transition: border-color 0.3s ease;

}




.metro:hover{
	color: white;
	border-color: white;
}

.metro.changed{
  color: rgba(227, 184, 84, 1);
	border-color: rgba(227, 184, 84, 1);
}


.ch{
	font-family: Roboto,sans-serif;
	background-color: black;
	color: rgba(246, 246, 246, 0.8);
	font-size: 12px;
	border-style: solid;
	border-color: gray;
	border-radius: 10px;
	border-width: 1px;
	width: 120px;
	height: 50px;
	margin: 0 auto;
	margin-top: 2vh;
	cursor: pointer;
	transition: color 0.3s ease;
	transition: border-color 0.3s ease;

}




.ch:hover{
	color: white;
	border-color: white;
}

.ch.changed{
  color: rgba(227, 184, 84, 1);
	border-color: rgba(227, 184, 84, 1);
}



@media screen and (max-width: 650px) {
  .metro {
    width: 200px;
    height: 70px;
    font-size: 15px;
  }
  .metros {
    width: 450px;
    
  }
}


@media screen and (max-width: 476px) {
  .metro {
    width: 180px;
    height: 60px;
    font-size: 12px;
  }
  .metros {
    width: 400px;
    
  }
}

@media screen and (max-width: 406px) {
  .metro {
    width: 150px;
    height: 50px;
    font-size: 10px;
  }
  .metros {
    width: 350px;
    
  }
}